.Work {
  /* background: linear-gradient(to bottom, #109d6e, #3f109d); */

  /* background: linear-gradient(to right, #f7f7f7 50%, #109d6e 50%, #109d6e 100%); */

  /* background: linear-gradient(to right, #ffffff 50%, #914747 50%, #914747 100%); */
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  color: rgb(0, 0, 0);
}

.Work1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  order: 1;
}

.Work__me {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: bolder;
}

/* .Work_List {
  background-color: #915a47;
  border: 1px solid red;

  flex: 1;
  order: 2;
} */

.Work_List {
  background-color: #915a47;
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex: 1;
  order: 2;
}

.Work__Image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-top: 250px; */
  order: 1;
}

@media screen and (max-width: 800px) {
  .Work_List {
    order: 1;
  }

  .Work1 {
    order: 2;
  }
}

/* .Work__details h2 {
  text-align: center;
} */
